__pycache__/
.venv*/
.ruff_cache/
.pytest_cache/

.vscode/
.ignore

# io folders
input/
output/

*.todo

# bundled engine binaries
/engine-builds/

# local test builds from dev/build.ps1
/dist/

build-perf/
build-asan/

private/
